UtilSOAPWebService/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="getEduYear">
                <s:complexType />
            </s:element>
            <s:element name="getEduYearResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="getEduYearResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UserCredentials" type="tns:UserCredentials" />
            <s:complexType name="UserCredentials">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
                </s:sequence>
                <s:anyAttribute />
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="getEduYearSoapIn">
        <wsdl:part name="parameters" element="tns:getEduYear" />
    </wsdl:message>
    <wsdl:message name="getEduYearSoapOut">
        <wsdl:part name="parameters" element="tns:getEduYearResponse" />
    </wsdl:message>
    <wsdl:message name="getEduYearUserCredentials">
        <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
    </wsdl:message>
    <wsdl:portType name="WebService1Soap">
        <wsdl:operation name="getEduYear">
            <wsdl:input message="tns:getEduYearSoapIn" />
            <wsdl:output message="tns:getEduYearSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getEduYear">
            <soap:operation soapAction="http://tempuri.org/getEduYear" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:getEduYearUserCredentials" part="UserCredentials" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getEduYear">
            <soap12:operation soapAction="http://tempuri.org/getEduYear" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
                <soap12:header message="tns:getEduYearUserCredentials" part="UserCredentials" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebService1">
        <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
            <soap:address location="https://moewebservice.azurewebsites.net/WebService1.asmx" />
        </wsdl:port>
        <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
            <soap12:address location="https://moewebservice.azurewebsites.net/WebService1.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>